*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* User Interface */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}

.flex-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.user-interface {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

input {
    margin: 5px;
    padding: 5px;
    width: 80px;
}

select {
    margin: 5px;
    padding: 5px;
}

.hidden {
    display: none;
}


/* Buttons */

.btn {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: lightseagreen;
}

.btn:hover {
    cursor: pointer;
    background-color: green;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#play,
#save {
    padding: 5px;
}

#play:hover,
#save:hover {
    cursor: pointer;
}


/* Game */

#snakeGame {
    border: 2px solid red;
}

#play {
    position: absolute;
    top: 50%;
}


/* Sound */

#sound-control {
    opacity: 0.5;
}

#sound-control:hover {
    opacity: 1;
    cursor: pointer;
}

.sound-on,
.sound-off {
    padding: 10px;
}

.sound-on::before {
    content: "\f028";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
}

.sound-off::after {
    content: "\f026";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
}


/* Scores */

.highscore,
.currentScore {
    margin: 10px;
}

.highscore::before {
    content: "\f091";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 2em;
    color: orange;
}

.currentScore::before {
    content: "\f5d1";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 2em;
    color: red;
}